div.title_container{
    /* height: 100px; */
    width: 100%;
    background-color: black;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}